/* Color scheme: 
   main: #394a6d
   2nd: #3c9d9b
   3rd: #52de97
   4th: #c0ffb3
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  --primaryColor: #394a6d;
  --secondaryColor: #3c9d9b;
  --thirdColor: #52de97;
  --fourthColor: #c0ffb3;
}

body {
  padding: 20px;
  background-color: var(--primaryColor);
}

.appTitle {
  color: var(--secondaryColor);
  padding-bottom: 20px;
}

.gridContainer {
  display: grid;
  column-gap: 20px;
  grid-template-columns: min-content 1fr;
  /* grid-template-columns: min-content min-content; */
}